.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button#yo.btn.btn-default{
 
   background-color:#3d342e;
   color:white;
   border-color:black;
   margin-top: 30%;
}

button.btn.btn-default{
   
  background-color:  #e34540;
  color:white;
  border-color:black;
  margin-top:7%;

}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

form {
    margin: 0 auto;
    max-width: 320px;
  }
}

